assets_keys.json
algo_keys.json
algo_constant.zip
algo_cnn.zip
algo_constant.tar.gz
metrics.zip
obj_keys.json
algo_constant_keys.json
algo_cnn_keys.json

assets/train_data
assets/test_data
assets/model
assets/sandbox
assets/pred-test.npy
assets/pred-train.npy
assets/perf-train.json
assets/perf-test.json
assets/logs
sandbox
model/model
pred/perf.json
