assets_keys.json
algo_keys.json
algo_inference.zip
metrics.zip
obj_keys.json
algo_inference_keys.json

data
assets/train_data_samples
assets/test_data_samples
assets/model
assets/sandbox
assets/pred-test.npy
assets/pred-train.npy
assets/perf-train.json
assets/perf-test.json
assets/logs
sandbox
model/
pred/
