assets_keys.json
algo_keys.json
algo_cnn_dp.zip
metrics.zip
obj_keys.json
algo_cnn_dp_keys.json

assets/train_data
assets/test_data
assets/model
assets/sandbox
assets/pred-test.npy
assets/pred-train.npy
assets/perf-train.json
assets/perf-test.json
assets/logs
sandbox
model/model
pred/perf.json
